html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}


/*////////////////////////////////////////////

BEGIN CUSTOM STYLING

////////////////////////////////////////////*/

html, body{
    font-family: 'Open Sans', sans-serif;
    background-color: #002e5d;
}

body{
    padding-left: 260px;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
h2{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
p{
    font-size: 24px;
    line-height: 150%;
}

img{
    max-width: 100%;
}

.logo{
    max-width: 100%;
}

#sidebar{
    background-color: #fff;
    position: fixed;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    box-shadow: 5px 0px 10px rgba(0,0,0,0.5);
    z-index: 10;
    box-sizing: border-box;
}

#sidebar .logo {
    width: 220px;
    height: auto;
    position: absolute;
}

#sidebar ul {
    position: absolute;
    bottom: 20px;
    color: #555;
}

#sidebar li{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#sidebar li:hover{
    color: #002e5d;
    font-style: italic;
    border-top: 2px solid #D62811;
    border-bottom: 2px solid #D62811;
}



#sidebar a {
    display:block;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 24px;
    line-height: 200%;
    color:inherit; 
}

#background{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

#main-container{
    position: absolute;
    padding-bottom: 400px;
    z-index: 1;
}

.content-block{
    padding: 40px 10%;
    color: #fff;
}

.content-block h1{
    padding-bottom: 20px;
    border-bottom: 4px solid #D62811;
    margin-bottom: 20px;
}
.content-block.content-block-white{
    background-color: #fff;
    color: #000;
}
.content-block.content-block-white h1, .content-block.content-block-white h2{
    color: #002e5d;
}

.team-photos{
    margin: 20px 0;
}

.team-photos .team-photo-block:nth-child(odd){
    padding-right: 40px;
}

.team-photos .team-photo-block:nth-child(even){
    padding-left: 40px;
}
.team-photo-block{
    float: left;
    max-width: 50%;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 40px;
}
.team-photo-block img{
    max-height: 80vh;
}

.clear{
    clear: both;
}